# Q1:

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Classroom/example.csv")
dataset.head()

    x   y  z
0  69  98  1
1  83  33  1
2  50  69  0
3  50   3  1
4  64  36  0

# Q2:

In [ ]:
x = dataset.iloc[:, 0].values
y = dataset.iloc[:, 1].values
z = dataset.iloc[:, 2].values

In [ ]:
x

array([ 69,  83,  50,  50,  64,  37,  73,  94,  93,  93,  32,  47,   2,
        57,  51,  68,  25,  41,  36,  64,  35,  11,  42,  64,  48,  48,
         8,  76,  70,  29,  69,  31,   5,  40, 100,  97,  23,  31,  59,
         1,  24,  66,   2,  51,  27,  69,  43,  11,  28,  45,  26,  62,
        48,  67,  59,  77,   7,  76,  49,  38,  98,  50,  57,  86,  94,
        22,  85,  45,  92,  29,  53,  44,  87,  63,  93,  79,   6,  67,
        16,   2,  86,  46,  47,  11,  47,   2,  72,  35,  68,  54,   2,
        10,  11,  43,   6,  79,  50,  25,  97,   9])

In [ ]:
y

array([ 98,  33,  69,   3,  36,  15,  88,  64,  81,  48,  36,  98,  54,
        45,  13,  37,   4,  45,  22,  87,  45,  55,  66,  56,  74, 100,
        60,  87,  31,  26,   6,  18,  49,  63,  35,  98,  72,  48,  35,
        89,  67,  50,  86,  83,  99,  54,  91,  14,  76,  63,  11,  53,
        58,  92,  34,  67,  27,  82,  15,  87,  73,  53,  55,  64,  79,
        84, 100,  92,  80,  72,  27,  57,  50,  28,  54,  25,  69,  34,
        36,  68,  71,  63,  54,  50,  72,  76,  28,  12,  18,  15,  29,
        83,  79,   5,  81,  88,  13,  66,  10,  33])

In [ ]:
z

array([1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0])

# Q3:

In [ ]:
dataset1 = {'X': ['A', 'B', 'C', 'D','E'],
        'Y': [10, 20, 30, 40,50]}

In [ ]:
df = pd.DataFrame(dataset1)
filter_value = df[df['Y'] > 30]

In [ ]:
print(filter_value)

   X   Y
3  D  40
4  E  50

# Q4:

In [ ]:
grouped_df = df.groupby('X')['Y'].sum()
grouped_df

X
A    10
B    20
C    30
D    40
E    50
Name: Y, dtype: int64

# Q5:

In [ ]:
dataset2 = {'A': ['AA', 'BB', 'CC', 'DD','EE'],
        'B': [10, 20, 30, 40,60]}

In [ ]:
# we can merge datframe by using joining . we use 4 types of joining like left,right,inner,outer joining
df1 = pd.DataFrame(dataset1)
df2 = pd.DataFrame(dataset2)

In [ ]:

# Left Join
left = pd.merge(df1, df2, left_on='Y', right_on='B', how='left')
print(left)

# Right Join
right = pd.merge(df1, df2, left_on='Y', right_on='B', how='right')
print(right)

# Inner Join
inner = pd.merge(df1, df2, left_on='Y', right_on='B', how='inner')
print(inner)

# Outer Join
outer = pd.merge(df1, df2, left_on='Y', right_on='B', how='outer')
print(outer)

   X   Y    A     B
0  A  10   AA  10.0
1  B  20   BB  20.0
2  C  30   CC  30.0
3  D  40   DD  40.0
4  E  50  NaN   NaN
     X     Y   A   B
0    A  10.0  AA  10
1    B  20.0  BB  20
2    C  30.0  CC  30
3    D  40.0  DD  40
4  NaN   NaN  EE  60
   X   Y   A   B
0  A  10  AA  10
1  B  20  BB  20
2  C  30  CC  30
3  D  40  DD  40
     X     Y    A     B
0    A  10.0   AA  10.0
1    B  20.0   BB  20.0
2    C  30.0   CC  30.0
3    D  40.0   DD  40.0
4    E  50.0  NaN   NaN
5  NaN   NaN   EE  60.0

# Q6

In [ ]:
dataset3 = {
    'A': [1,   2,   None, 4],
    'B': [5,  None,  7,   8]
}

In [ ]:
df = pd.DataFrame(dataset3)

In [ ]:
# missing value bad dite hoy / mean diye replace kora lage
df_dropped = df.dropna()
df_filled = df.fillna(df.mean())

In [ ]:
print("\n When we drop missing value:\n", df_dropped)
print("\n After using mean:\n", df_filled)

 When we drop missing value:
      A    B
0  1.0  5.0
3  4.0  8.0

 After using mean:
           A         B
0  1.000000  5.000000
1  2.000000  6.666667
2  2.333333  7.000000
3  4.000000  8.000000

# Q8:

In [ ]:
print("1st index \n", df.iloc[0])

1st index
 A    1.0
B    5.0
Name: 0, dtype: float64

In [ ]:
print("label B \n", df.loc['A'])

KeyError: 'A'

# Q10:

In [ ]:
Info = {
    'Name': ['Abdullah', 'Al', 'Noman'],
    'Age': [21, 23, 22],
    'CGPA': [3.90, 3.95, 3.91]
}
df = pd.DataFrame(Info)

df.to_csv('info.csv')

# Text preprocessing

# Q4:

In [ ]:
import string

def remove_punctuation(text):
  return text.translate(str.maketrans('', '', string.punctuation))

# Example usage:
text = "My name* is %!%Noman Abdullah* #. "
processed_text = remove_punctuation(text)
processed_text

'My name is Noman Abdullah  '

# Q5:

In [ ]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

def remove_stopwords(text):

  stop_words = set(stopwords.words('english'))
  words = text.split()
  filtered_words = [w for w in words if w.lower() not in stop_words]
  return ' '.join(filtered_words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
text = "This is my first mock test.The code is for removing stopwords"
processed_text = remove_stopwords(text)
processed_text

'first mock test.The code removing stopwords'

# Q7:

In [ ]:
import re
def remove_numeric_values(text):

  return re.sub(r'\d+', '', text)

text = "Abd is 4839 fvjnf 348948 h845ht75y."
processed_text = remove_numeric_values(text)
print(processed_text)

Abd is  fvjnf  hhty.

# Q8:

In [ ]:
def remove_punctuation(text):
  return text.translate(str.maketrans('', '', string.punctuation))

text = "My name* is %!%Noman Abdullah* #. "
processed_text = remove_punctuation(text)
processed_text

'My name is Noman Abdullah  '